const char TestDiagramString[]="{'SignFermiLoop': -1.0, 'Ver': [{'Name': 0, 'Sublat': 0, 'Coordi': [1, 0], 'Tau': 0.1, 'SpinIn': 1, 'SpinOut' :1}, {'Name': 1, 'Sublat': 0, 'Coordi': [1, 0], 'Tau': 0.2, 'SpinIn': 1, 'SpinOut' :1}], 'W': [{'IN': 0, 'OUT': 1, 'K': 1, 'IsDelta': False, 'IsMeasure': True}], 'G': [{'IN': 0, 'OUT': 1, 'K': 1, 'IsMeasure': False}, {'IN': 1, 'OUT': 0, 'K': 2, 'IsMeasure': False}]}}";

/*
######################                                  \n\
#SignFermiLoop                                          \n\
s -1                                                    \n\
#nVer                                                   \n\
#name/sublattice/r_x/r_y/tau/spin_in/spin_out           \n\
v 0 0 1,0 0.1 1 1                                       \n\
v 1 0 1,0 0.2 1 1                                       \n\
#WLine                                                  \n\
#start/end/k/isDelta/isMeasure                          \n\
w 0 1 1 0 1                                             \n\
#GLine                                                  \n\
#start/end/k/isMeasure                                  \n\
g 0 1 1 0                                               \n\
g 1 0 2 0";
*/

