const char InitialDiagram[]="\
######################                              \n\
#SignFermiLoop                                      \n\
s 1                                                 \n\
#nVer                                               \n\
#name/sublattice/r_x/r_y/tau/spin_in/spin_out       \n\
v 0 0 1,0 0.5 0 0                                   \n\
v 1 0 1,0 0.5 0 0                                   \n\
#WLine                                              \n\
#start/end/k/isDelta/isMeasure                      \n\
w 0 1 0 0 1                                         \n\
#GLine                                              \n\
#start/end/k/isMeasure                              \n\
g 0 1 1 0                                           \n\
g 1 0 1 0";
